// center elements
.block-form {
  padding: 25px;
  text-align: center;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// tic tac toe design
.grid {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.square {
  width:100px;
  height:100px;
}

.v {
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.h {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

// X and O markup on squares
.square-x:after {
  content: "X";
  font-size: xx-large;
}

.square-o:after {
  content: "O";
  font-size: xx-large;
}

// closed game
.board-full {
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  pointer-events: none;
}
